.forgot-password-container {
  max-width: 400px !important;
  margin: auto;
  padding: 2rem;
  background: #f2f2f2;
  border-radius: 10px;
  margin-top: 45px;
}

.forgot-password-container label {
  display: block ;
  margin-bottom: 5px;
  font-weight: bold;
  color: #004200;
}

.forgot-password-container input {
  width: 100% !important;
  padding: 8px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  opacity: 0.25;
}

.message {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #008000;
}


.link{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
.linkL{
  color: #2db40c;
  transition: color  0.3s ease !important;
  text-decoration: none;
  transition: text-shadow 0.3s ease !important;
}

.linkL:hover{
 color: rgba(58, 187, 18, 0.892) !important;
  text-shadow: 0 8px 4px rgb(43, 175, 17);
  text-decoration: underline;
}
